<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="edit_profile_style.css" />
    <title>Điều chỉnh thông tin cá nhân</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <h4>Covid System</h4>
      </div>
      <div class="nav-links">
        <button class="login-button" onclick="login()">Home</button>
        <button class="login-button" onclick="MOH()">About</button>
        <button class="login-button" onclick="">Log out</button>
      </div>
    </nav>
    <main>
      <div class="form-container">
        <h3>Thông tin cá nhân</h3>

        <form method="post" id="personForm">
          <div class="start">
            <div class="group">
              <label for="lanme" class="label">Họ:</label>
              <input
                id="lname"
                name="lname"
                type="text"
                class="input"
                required
              />
            </div>
            <div class="group">
              <label for="fanme" class="label">Tên đệm & Tên:</label>
              <input
                id="fname"
                name="fname"
                type="text"
                class="input"
                required
              />
            </div>
            <div class="group">
              <label for="DoB" class="label">Ngày sinh:</label>
              <input id="DoB" name="DoB" type="date" class="input" />
            </div>
            <div class="group">
              <label for="gender" class="label">Giới tính:</label>
              <select id="gender" name="gender" class="input">
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
                <option value="Others">Khác</option>
              </select>
            </div>
            <br />
            <div class="group">
              <label for="phone" class="label">Điện thoại:</label>
              <input id="phone" name="phone" type="text" class="input" />
            </div>
          </div>
          <div class="end">
            <h3>Địa chỉ hiện tại</h3>
            <div class="group">
              <label for="province" class="label">Tỉnh thành </label>
            </div>
            <br />
            <div class="group">
              <label for="city" class="label">Quận / huyện </label>
            </div>
            <br />
            <div class="group">
              <label for="ward" class="label">Phường / xã</label>
            </div>
            <br />
            <div class="group">
              <label for="detailed_address" class="label"
                >Số nhà, phố, tổ dân phố/thôn/đội</label
              >
            </div>
            <br>
            <input class="submit" type="submit" value="Submit" />
          </div>
        </form>
      </div>
    </main>
    <div class="planet Earth">
      <div class="container">
        <div class="loader"><span></span></div>
        <div class="earth"></div>
      </div>
    </div>
  </body>
</html>
