@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* nav-bar*/
nav{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(129, 133, 201);
    z-index: 100;
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
    height: 8vh;
}

.nav-links button{
    list-style: none;
}

.nav-links button{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
    border: none;
    height: 100%;
    background-color: rgb(129, 133, 201);
    color:white;
    min-width: 100px;
    transition: 0.4s ease;
}

.nav-links button:hover{
    background-color: white;
    color: rgb(129, 133, 201);
    cursor: pointer;
}

/*main content */
main{
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    left: 0;
    right: 0;
    z-index: 1;
    position: absolute;
}


main .form-container{
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 20px;
	margin-bottom: 2vw;
    box-shadow: 0 5px 15px rgba(0,0,0 , 0.3);
    color: #000;
}

main .form-container .start,
main .form-container .end{
	display: inline-block;
	width: 100%;
}

main .form-container .start .group,
main .form-container .end .group{
	display: inline-block;
	margin-left: 20px;
	padding: 10px;
}

main .form-container h4,
main .form-container h2{
    margin: 25px 20px 0px 30px;
}

main .form-container .group input{
	margin-left: 15px;
	border: none;
	border-bottom: 0.1px solid black;
	background-color: transparent;
	font-size: 20px;
}

main .form-container .group input:active,
main .form-container .group input:focus{
	outline: transparent;
	background: transparent;
}


main .form-container .end .submit{
	font-size: 20px;
	margin: 10px 20px 10px 30px;
	padding: 5px;
	border-radius: 5px;
}

main .form-container .end .submit:hover{
	cursor: pointer;
    border: 2px solid whitesmoke;
}


/* rotating-earth* (background)*/
.planet{
    display: flex;
    flex-direction: column;
    z-index: 0;
    opacity: 0.3;
}

.planet .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Earth{
	position: fixed;
    width: 100%;
	height: 100vh;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background: url("/static/images/Background 00.png");
    background-size: cover;
    background-repeat: no-repeat;	

}

.Earth .loader span{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
}


.earth {
    position: absolute;
    width: 500px;
    height: 500px;
    background: url("/static/images/dot-earth.jpg");
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 20px white,
                 inset 0 0 120px #03a9f4;
    animation: animateEarth 30s linear infinite;
}

@keyframes animateEarth{
    0%{
        background-position: 0;
    }
    100%{
        background-position: 162.5%;
    }   
}

/*body{
	margin:0;
	color:#ffffff;
	background:#c8c8c8;
	background:url("Background 00.png") no-repeat center;
	background-size: cover;
	overflow: hidden;
	font:600 14px 'Open Sans',sans-serif;
}
*/