
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="medical_detail_style.css">
    <title>Thông tin khai báo</title>
</head>
<body>
    <nav>
        <div class="logo">
            <h4>Covid System</h4>
          </div>
          <div class="nav-links">
            <button class="login-button" onclick="">Home</button>
            <button class="login-button" onclick="">About</button>
            <button class="login-button" onclick="">Log out</button>
          </div>
    </nav>
    <main>
        <div class="form-container">
        <h2>Thông tin khai báo y tế </h2>
        <p>Thời điểm khai báo: </p>
        <p>Khai hộ: </p>
        <p>Họ tên: </p>
        <p>Số CCCD:</p>
        <p>Năm sinh:</p>
        <p>Giới tính: </p>
        <p>Quốc tịch: </p>

        <h3>Địa chỉ liên lạc tại Việt Nam</h3>
        <p>Tỉnh thành: </p>
        <p>Quận / huyện: </p>
        <p>Phường / xã: </p>
        <p>Số nhà, phố, tổ dân phố/thôn/đội: </p>
        <p>Điện thoại: </p>
        <p>Email: </p>
        <h4>Trong vòng 14 ngày qua, Anh/Chị có đến tỉnh/thành phố, quốc gia/vùng lãnh thổ nào: </h4>
       
            <p>Nơi đến</p>
            <p>Tỉnh thành: </p>
            <p>Quận / huyện: </p>
            <p>Phường / xã: </p>
            <p>Số nhà, phố, tổ dân phố/thôn/đội: </p>
      
        <h4>Trong vòng 14 ngày qua, Anh/Chị có thấy xuất hiện ít nhất 1 trong các dấu hiệu:<br> sốt, ho, khó thở, viêm phổi, đau họng, mệt mỏi không:</h4>
       
            <p>Mô tả chi tiết: </p>

        <h4>Trong vòng 14 ngày qua, Anh/Chị có tiếp xúc với</h4>
        <p>Người bệnh hoặc nghi ngờ, mắc bệnh COVID-19: </p>
        <p>Người từ nước có bệnh COVID-19: </p>
        <p>Người có biểu hiện (Sốt, ho, khó thở , Viêm phổi): </p>
    </div>
    </main>
    <div class="planet Earth">
        <div class="container">
          <div class="loader"><span></span></div>
          <div class="earth"></div>
        </div>
    </div>
</body>
</html>