{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous"/>
    <title>Admin page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<style>
    table {
        border-collapse: collapse;
        border: solid 1px;
        text-align: center;
    }
    
    th,
    td {
        padding: 10px 10px;
        border: solid 1px;
    }
</style>

<body>
    <!-- left-side bar -->
    <div class="navigation">
        <div class="wrapper">
            <div class="decoration">
                <p><i class="fas fa-home"></i>Admin Page</p> 
             </div>
            <ul>
                <li class="list">
                    <a href="http://127.0.0.1:8000/sys_admin/list-moh/">
                        <span class="icon"></span>
                        <span class="title">Danh sách Tài Khoản Nhân Viên Y Tế</span>
                    </a>
                </li>
                <li class="list">
                    <a href="http://127.0.0.1:8000/sys_admin/list-normal/">
                        <span class="icon"></span>
                        <span class="title">Danh sách Tài Khoản Người Dùng Thường</span>
                    </a>
                </li>
                <li class="list">
                    <a href="http://127.0.0.1:8000/sys_admin/add/">
                        <span class="icon"></span>
                        <span class="title">Thêm Tài Khoản</span>
                    </a>
                </li>
                <li class="list">
                    <a href="http://127.0.0.1:8000/sys_admin/upload/">
                        <span class="icon"></span>
                        <span class="title">Thêm Nhiều Tài Khoản</span>
                    </a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/sys_admin/logout/">
                        <span class="icon"></span>
                        <span class="title">Đăng xuất</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main">
        <div class="wrapper">
            <div class="greeting">
                Xin Chào {{request.user.first_name}} {{request.user.last_name}},
            </div>
            <div class="title">
                Danh sách tài khoản {{role}}
            </div>
            <div class="message">
                {% include 'messages.html' %}
            </div>
            <div class="table-wrapper">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Số CMND/CCCD</th>
                    <th>Email</th>
                    <th>Họ</th>
                    <th>Tên</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
                {% for user in page %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.first_name}}</td>
                    <td>{{user.last_name}}</td>
                    <td><a href="http://127.0.0.1:8000/sys_admin/update/{{user.id}}">Sửa</a></td>
                    <td><a href="http://127.0.0.1:8000/sys_admin/delete/{{user.id}}">Xóa</a></td>
                </tr>
                {% endfor %}
            </table>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if page.has_previous %}
                        <a href="?page=1"><i class="fas fa-backward"></i></a>
                        <a href="?page={{ page.previous_page_number }}"><i class="fas fa-chevron-left"></i></a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page.number }} of {{ page.paginator.num_pages }}.
                    </span> {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                <a href="?page={{ page.paginator.num_pages }}"><i class="fas fa-forward"></i></a> {% endif %}
                </span>
            </div>
        </div>
    </div>

</body>

</html>